:host {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: '.' 'info' 'change';
  .panel1 {
    grid-area: info;
    margin: 20px 0;
  }
  .panel2 {
    grid-area: change;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 30px 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header header header header header'
    'left-part left-part . right-part right-part'
    '. . . button1 button2';
    h1 {
      grid-area: header;
    }
    .left-part {
      grid-area: left-part;
    }
    .right-part {
      grid-area: right-part;
      margin-bottom: 20px;
    }
    .button1 {
      grid-area: button1;
      margin-top: 5px;
      width: 95%;
    }
    .button2 {
      grid-area: button2;
      margin-top: 5px;
      margin-left: 5%;
      width: 95%;
    }
  }
}
