<div class="panel">
  <h1>Register Your account</h1>
  <div class="left-part">
    <form [formGroup] = "registrationForm">
      <label>
        <span>LOGIN NAME</span>
        <input type="text" formControlName="loginName" [placeholder]="placeholders.loginName">
      </label>
      <label>
        <span>PASSWORD</span>
        <input type="text" formControlName="password" [placeholder]="placeholders.password">
      </label>
      <label>
        <span>CONTROL QUESTION</span>
        <input type="text" formControlName="ctrlQuestion" [placeholder]="placeholders.ctrlQuestion">
      </label>
      <label>
        <span>ANSWER TO CONTROL QUESTION</span>
        <input type="text" formControlName="ctrlAnswer" [placeholder]="placeholders.ctrlAnswer">
      </label>
    </form>
  </div>
  <div class="right-part">
    <form [formGroup] = "registrationForm">
      <label>
        <span>NAME</span>
        <input type="text" formControlName="name" [placeholder]="placeholders.name">
      </label>
      <label>
        <span>AGE</span>
        <input type="text" formControlName="age" [placeholder]="placeholders.age">
      </label>
      <label>
        <span>DATE OF BIRTH</span>
        <input type="text" formControlName="dateOfBirth" [placeholder]="placeholders.dateOfBirth">
      </label>
      <label>
        <span>DATE OF LOGIN</span>
        <input type="text" formControlName="dateOfLogin" [placeholder]="placeholders.dateOfLogin">
      </label>
      <label>
        <span>DATE OF NOTIFICATION</span>
        <input type="text" formControlName="dateOfNotif" [placeholder]="placeholders.dateOfNotif">
      </label>
    </form>
  </div>
  <button>REGISTER</button>
  <a routerLink="/">Back to login window</a>
</div>
