:host {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas: '. . .' '. panel .';
  .panel {
    grid-area: panel;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header header' 'form form' 'button links';
    h1 {
      grid-area: header;
      margin-bottom: 30px;
    }
    form {
      grid-area: form;
      margin-bottom: 20px;
    }
    button {
      grid-area: button;
      margin-top: 5px;
    }
    .links {
      grid-area: links;
      a {
        display: block;
        text-align: right;
      }
    }
  }
}
