<form [formGroup] = "userForm">

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Name: <br>-->
      <!--<input name="name" type="text" formControlName="name" [placeholder]="placeholders.name" (input)="getErrMsg('userName')">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['name'].invalid && userForm.controls['name'].dirty">-->
      <!--{{errMsgs['name']}}-->
    <!--</div>-->
  <!--</div>-->

  <div class="input-group">
    <label>
      Age: <br>
      <input type="text" formControlName="age" [placeholder]="placeholders.age" (input)="getErrMsg('age')">
    </label>
    <div class="error" *ngIf = "userForm.controls['age'].invalid && userForm.controls['age'].dirty">
      {{errMsgs['age']}}
    </div>
  </div>

  <div class="input-group">
    <label>
      Date of birth: <br>
      <input type="text" formControlName="dateOfBirth" [placeholder]="placeholders.dateOfBirth" (input)="getErrMsg('dateOfBirth')">
    </label>
    <div class="error" *ngIf = "userForm.controls['dateOfBirth'].invalid && userForm.controls['dateOfBirth'].dirty">
      {{errMsgs['dateOfBirth']}}
    </div>
  </div>

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Name: <br>-->
      <!--<input name="name" type="text" formControlName="dateOfLogin" [placeholder]="placeholders.name" (input)="getErrMsg('userName')">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['userName'].invalid && userForm.controls['userName'].dirty">-->
      <!--{{userErrMsg['userName']}}-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Name: <br>-->
      <!--<input name="name" type="text" formControlName="dateOfNotif" [placeholder]="placeholders.name" (input)="getErrMsg('userName')">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['userName'].invalid && userForm.controls['userName'].dirty">-->
      <!--{{userErrMsg['userName']}}-->
    <!--</div>-->
  <!--</div>-->

  <button (click)="submit()" [disabled]="userForm.invalid">Submit</button>
  <button (click)="submit()">testing</button>
</form>
