:host {
  grid-area: app;
  display: grid;
  background-color: rgba(0, 0, 0, 0.04);
  grid-template-rows: 60px auto 1fr;
  grid-template-areas: 'header' 'content' '.';
  header {
    grid-area: header;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    grid-template-areas: 'name . firstLink secondLink';
    grid-gap: 10px;
    .name {
      grid-area: name;
      margin: auto 0;
      font-size: 110%;
      font-weight: bold;
    }
    a {
      margin: auto;
    }
    a:nth-child(2) {
      grid-area: firstLink;
    }
    a:nth-child(3) {
      grid-area: secondLink;
    }
  }
  router-outlet {
    position: fixed;
    height: 0;
    width: 0;
  }
}





