<header class="panel">
  <div class="name" [hidden]="headerItemsIsHide">{{curName}}</div>
  <app-user-list [hidden]="!cookie.get('admin')"></app-user-list>
  <div class="linkContainer userProfile" [hidden]="headerItemsIsHide">
    <a routerLink="/userProfile" [hidden]="headerItemsIsHide">{{ 'main.userProfile' | translate }}</a>
  </div>
  <div class="linkContainer editProfile" [hidden]="headerItemsIsHide">
    <a routerLink="/editProfile" [hidden]="headerItemsIsHide">{{ 'main.editProfile' | translate }}</a>
  </div>
  <div class="linkContainer admin" [hidden]="headerItemsIsHide">
    <a routerLink="/adminPage" [hidden]="!cookie.get('admin')">{{ 'main.adminPage' | translate }}</a>
  </div>
  <button class="en" (click)="changeLanguage('en')">{{ 'main.en' | translate }}</button>
  <button class="ru" (click)="changeLanguage('ru')">{{ 'main.ru' | translate }}</button>
</header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
