:host {
  min-width: 550px;
  grid-area: app;
  display: grid;
  grid-template-rows: 60px auto 1fr;
  grid-template-areas: 'header' 'content' '.';
  header {
    grid-area: header;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 2fr 3fr .7fr .7fr .7fr 40px 40px;
    grid-template-areas: 'name userList firstLink secondLink thirdLink en ru';
    .name {
      grid-area: name;
      margin: auto 0;
      font-size: 110%;
      font-weight: bold;
      align-self: center;
    }
    app-user-list {
      grid-area: userList;
    }
    .linkContainer {
      display: grid;
      padding: 5px;
      box-shadow:
        2px 0 2px -2px rgb(255, 255, 255),
        inset -2px 0 2px -2px rgb(146, 146, 146);
      a {
        margin: auto;
      }
      &.userProfile {
        grid-area: secondLink;
      }
      &.editProfile {
        grid-area: thirdLink;
      }
      &.admin {
        grid-area: firstLink;
      }
      &[hidden] {
        box-shadow: none;
      }
    }

    .en, .ru {
      margin: auto;
      width: 30px;
      border-radius: 15px;
    }
    .en {
      grid-area: en;
    }
    .ru {
      grid-area: ru;
    }
  }
  router-outlet {
    position: fixed;
    height: 0;
    width: 0;
  }
}





