<router-outlet></router-outlet>
<!--<h1>User Form</h1>-->

<!--<form [formGroup] = "userForm">-->

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Name: <br>-->
      <!--<input type="text" formControlName="name" [placeholder]="placeholders.name">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['name'].invalid && userForm.controls['name'].dirty">-->
      <!--{{errMsgs['name']}}-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Age: <br>-->
      <!--<input type="text" formControlName="age" [placeholder]="placeholders.age">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['age'].invalid && userForm.controls['age'].dirty">-->
      <!--{{errMsgs['age']}}-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Date of birth: <br>-->
      <!--<input type="text" formControlName="dateOfBirth" [placeholder]="placeholders.dateOfBirth">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['dateOfBirth'].invalid && userForm.controls['dateOfBirth'].dirty">-->
      <!--{{errMsgs['dateOfBirth']}}-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Date of login: <br>-->
      <!--<input type="text" formControlName="dateOfLogin" [placeholder]="placeholders.dateOfLogin">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['dateOfLogin'].invalid && userForm.controls['dateOfLogin'].dirty">-->
      <!--{{errMsgs['dateOfLogin']}}-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="input-group">-->
    <!--<label>-->
      <!--Date of notification: <br>-->
      <!--<input type="text" formControlName="dateOfNotif" [placeholder]="placeholders.dateOfNotif">-->
    <!--</label>-->
    <!--<div class="error" *ngIf = "userForm.controls['dateOfNotif'].invalid && userForm.controls['dateOfNotif'].dirty">-->
      <!--{{errMsgs['dateOfNotif']}}-->
    <!--</div>-->
  <!--</div>-->
  <!--<button (click)="submit()" [disabled]="userForm.invalid||userForm.status === 'PENDING'">Submit</button>-->
<!--</form>-->
<!--<div class="submitted" *ngIf="submitted">-->
  <!--<h3>Submitted information</h3>-->
  <!--<p>Name: {{validatedData['name']}}</p>-->
  <!--<p>Age: {{validatedData['age']}}</p>-->
  <!--<p>Date of birth: {{validatedData['dateOfBirth']}}</p>-->
  <!--<p>Date of login: {{validatedData['dateOfLogin']}}</p>-->
  <!--<p>Date of notification: {{validatedData['dateOfNotif']}}</p>-->
<!--</div>-->
