:host {
  grid-area: app;
  display: grid;
  background-color: rgba(0, 0, 0, 0.04);
  grid-template-rows: 60px auto 1fr;
  grid-template-areas: 'header' 'content' '.';
  header {
    grid-area: header;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr 1.5fr .5fr .5fr;
    grid-template-areas: 'name . firstLink secondLink en ru';
    .name {
      grid-area: name;
      margin: auto 0;
      font-size: 110%;
      font-weight: bold;
    }
    a {
      margin: auto;
      padding: 5px;
    }
    a:nth-child(2) {
      grid-area: firstLink;
    }
    a:nth-child(3) {
      grid-area: secondLink;
    }
    .en, .ru {
      margin: auto;
      width: 30px;
      border-radius: 15px;
    }
    .en {
      grid-area: en;
    }
    .ru {
      grid-area: ru;
    }
  }
  router-outlet {
    position: fixed;
    height: 0;
    width: 0;
  }
}





