:host{
  height: 60px;
  width: 100%;
  position: relative;
  z-index: 1;
  & ::ng-deep app-user-chosen {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-areas: 'shortInfo button';
    height: 100%;
    box-shadow:
      inset 0 25px 6px -26px rgb(255, 255, 255),
      inset 25px 0 6px -26px rgb(99, 99, 99),
      inset -25px 0 6px -26px rgb(99, 99, 99),
      inset 0 -25px 6px -26px rgb(255, 255, 255);
  }
  & ::ng-deep app-user-dropdown-list {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'searchTab' 'usersList';
    position: relative;
    height: 500px;
    //background-color: yellow;
    & ::ng-deep app-user-search-tab {
      grid-area: searchTab;
      display: grid;
      grid-template-columns: 1fr 40px;
      grid-template-areas: 'search button';
      height: 50px;
      background-color: #ffc205;
      padding: 5px;
      & ::ng-deep app-user-search-input {
        grid-area: search;
        min-width: 100px;
        background-color: #ae8642;
      }
      & ::ng-deep app-user-search-button {
        grid-area: button;
        background-color: #ae5414;
      }
    }
    & ::ng-deep app-users-tab {
      grid-area: usersList;
      background-color: rgba(215, 215, 215, 0.8);

      overflow: auto;
    }
  }

}
