<div class="panel">
  <h1>Password recovery</h1>
  <form [formGroup] = "passRecoveryForm">
    <label>aaaaaaaaaaaaaaaaaaaaaaa
      <span>LOGINNAME</span>
      <input type="text" formControlName="loginName" [placeholder]="placeholders.loginName">
      <span class="valid" *ngIf = "loginNameCtrl.valid && loginNameCtrl.dirty">ok</span>
      <span class="invalid" *ngIf = "loginNameCtrl.invalid && loginNameCtrl.dirty">x</span>
    </label>
    <div class="error" *ngIf = "loginNameCtrl.invalid && loginNameCtrl.dirty">
      {{errMsgs['loginName']}}
    </div>
    <div class="formMessage">
      <span>YOUR PASSWORD</span>
      <p>Some text with PASSWORD</p>
    </div>
  </form>
  <button (click)="getPassword()">GET PASSWORD</button>
  <a routerLink="/">Back to login window</a>
</div>
