<div class="panel">
  <h1>{{ 'forgot.title' | translate }}</h1>
  <form [formGroup] = "passRecoveryForm">
    <label>
      <span>{{ 'forgot.loginName' | translate }}</span>
      <input type="text" formControlName="loginName" [placeholder]="'forgot.plchold.loginName' | translate">
      <span class="valid" *ngIf = "loginNameCtrl.valid && loginNameCtrl.dirty">ok</span>
      <span class="invalid" *ngIf = "loginNameCtrl.invalid && loginNameCtrl.dirty">x</span>
    </label>
    <div class="error" *ngIf = "loginNameCtrl.invalid && loginNameCtrl.dirty">
      <p *ngIf = "validation.data.loginName.required">
        {{ 'forgot.errors.loginName.required' | translate }}
      </p>
      <p *ngIf = "validation.data.loginName.incorrectSymbols">
        {{ 'forgot.errors.loginName.incorrectSymbols' | translate }}
      </p>
    </div>
    <div class="formMessage" *ngIf = "showPassMessage">
      <span>{{ 'forgot.yourPass' | translate }}</span>
      <ng-template *ngIf="showPassErr; then passErr; else showPass"></ng-template>
      <ng-template #passErr>
        <p>{{ 'forgot.userNotExist' | translate }}</p>
      </ng-template>
      <ng-template #showPass>
        <p>{{password}}</p>
      </ng-template>
    </div>
  </form>
  <button (click)="getPassword()" [disabled]="passRecoveryForm.invalid||passRecoveryForm.pending">{{ 'forgot.get' | translate }}</button>
  <a routerLink="/">{{ 'forgot.back' | translate }}</a>
</div>
