<div class="panel">
  <h1>Password recovery</h1>
  <form [formGroup] = "passRecoveryForm">
    <label>
      <span>LOGINNAME</span>
      <input type="text" formControlName="loginName" [placeholder]="placeholders.loginName">
      <ng-template *ngIf = "loginNameCtrl.valid && loginNameCtrl.dirty; then ok"></ng-template>
      <ng-template #ok>
        <span class="valid">ok</span>
      </ng-template>
      <ng-template *ngIf = "loginNameCtrl.invalid && loginNameCtrl.dirty; then x"></ng-template>
      <ng-template #x>
        <span class="invalid">x</span>
      </ng-template>
    </label>
    <ng-template *ngIf = "loginNameCtrl.invalid && loginNameCtrl.dirty; then error"></ng-template>
    <ng-template #error>
      <div class="error">
        {{errMsgs['loginName']}}
      </div>
    </ng-template>
    <ng-template *ngIf = "showPassword; then message"></ng-template>
    <ng-template #message>
      <div class="formMessage">
        <span>YOUR PASSWORD</span>
        <p>{{password}}</p>
      </div>
    </ng-template>
  </form>
  <button (click)="getPassword()" [disabled]="passRecoveryForm.invalid||passRecoveryForm.pending">GET PASSWORD</button>
  <a routerLink="/">Back to login window</a>
</div>
