:host {
  display: block;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, .09);
  font-size: .9rem;
  text-shadow: none;
  &:hover {
    transition: all .5s;
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
  }
}
