@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  color: #fbfdff;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: ". app .";
  height: 100vh;
  background-color: black;
  background: linear-gradient(217deg, rgba(108, 145, 169, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(159, 128, 233, 0.79), rgba(0,0,255,0) 70.71%);
  background-attachment: fixed;
}
.panel {
  text-shadow: 1px 1px 2px #2e2e2e;
  background-color: rgba(215, 215, 215, .55);
  box-shadow: 6px 0 15px -7px rgba(0, 0, 0, 0.48),
  -6px 0 15px -7px rgba(0, 0, 0, 0.48),
  inset 0 25px 6px -26px rgb(255, 255, 255),
  inset 25px 0 6px -26px rgb(99, 99, 99),
  inset -25px 0 6px -26px rgb(99, 99, 99),
  inset 0 -25px 6px -26px rgb(255, 255, 255);
  padding: 30px;
}
h1 {
  font-size: 150%;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
}
a {
  transition: 500ms all;
  color: #fbfdff;
  font-size: 90%;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #abffa0;
    transition: 500ms all;
  }
}
button {
  display: inline-block;
  color: #fbfdff;
  text-shadow: 1px 1px 2px #2e2e2e;
  font-weight: bold;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  &:disabled {
    background-color: #8e2a25;
    background-image: linear-gradient(to bottom, hsl(0, 66%, 53%), hsl(0, 33%, 30%));
    box-shadow: inset 0 2px .5px hsl(0, 63%, 68%),
    inset 0 -2px .5px hsl(0, 63%, 15%),
    0 1px 5px rgba(0, 0, 0, .9),
    0 8px 8px -3px rgba(30, 30, 30, .3);
  }
  &:enabled {
    background-color: #418e46;
    background-image: linear-gradient(to bottom, hsl(115, 45%, 65%), hsl(115, 23%, 37%));
    box-shadow: inset 0 1px .5px hsl(115, 43%, 84%),
    inset 0 -1px .5px hsl(115, 43%, 19%),
    0 1px 5px rgba(0, 0, 0, .9),
    0 8px 8px -3px rgba(30, 30, 30, .3);
  }
  &:enabled:hover {
    transition: 500ms all;
    background-color: #50ae57;
    cursor: pointer;
    background-image: linear-gradient(to bottom, hsl(115, 45%, 74%), hsl(115, 23%, 42%));
  }
  &:enabled:active {
    transition: 300ms all;
    box-shadow: inset 0 1px .5px hsl(115, 43%, 84%),
    inset 0 -1px .5px hsl(115, 43%, 19%),
    0 1px .5px rgba(255, 255, 255, .4),
    0 -1px .5px rgba(0, 0, 0, .5),
    0 0 5px rgba(0, 0, 0, .9);
  }
}
form {
  label {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 80%;
    display: block;
    min-height: 60px;
    position: relative;
    span {
      padding-top: 5px;
      display: block;
      height: 30px;
    }
    input,textarea{
      color: #545557;
      font-weight: bold;
      padding-left: 10px;
      height: 30px;
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, .09);
      &:focus {
        background-color: rgba(255, 255, 255, 0.3);
        outline: none;
      }
      &.ng-valid.ng-dirty {
        background-color: rgba(17, 164, 8, 0.15);
      }
      &.ng-invalid.ng-dirty {
        color: #910800;
        background-color: rgba(221, 4, 7, 0.21);
      }
      &.ng-pending.ng-dirty {
        animation-duration: 1.5s;
        animation-name: pending;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      $pendingAnimColor: rgba(162, 162, 176, 0.74);
      @keyframes pending {
        @for $pendingCounter from 0 through 100 {
          #{$pendingCounter}% {
            background-image: linear-gradient(to left, transparent 0%, $pendingAnimColor 0% + $pendingCounter, transparent 100%);
          }
        }
      }
    }
    textarea {
      resize: none;
      height: 90px;
    }
    .valid, .invalid {
      display: block;
      height: 30px;
      width: 30px;
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: center;
      padding-top: 4px;
    }
    .valid {
      background-color: green;
    }
    .invalid {
      background-color: #b10200;
    }
  }
  .error {
    font-weight: bold;
    font-size: 90%;
    text-shadow: none;
    color: #910800;
    animation-duration: 1s;
    animation-name: increase-opacity;
  }
}
