@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: ". . ."
                       ". form ."
                       ". . .";
  margin: 0;
  height: 100vh;
  background-color: black;
  background: linear-gradient(217deg, rgba(221, 221, 194, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(227, 209, 206, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(44, 24, 47, 0.8), rgba(0,0,255,0) 70.71%);
}
