<div class="panel">
  <h1>User Profile</h1>
  <div class="info">
    <p>LOGIN NAME: <span>{{curUser.loginName}}</span></p>
    <p>PASSWORD: <span>{{curUser.password}}</span></p>
    <p>NAME: <span>{{curUser.name}}</span></p>
    <p>AGE: <span>{{curUser.age}}</span></p>
    <p>DATE OF BIRTH: <span>{{curUser.dateOfBirth}}</span></p>
    <p>DATE OF LOGIN: <span>{{curUser.dateOfLogin}}</span></p>
    <p>DATE OF NOTIFICATION: <span>{{curUser.dateOfNotif}}</span></p>
    <p>INFORMATION: <span>{{curUser.info}}</span></p>
  </div>
  <button class="button" (click)="logOut()">LOG OUT</button>
</div>
